#body .orderCart {
  position: absolute;
  min-width: 97vw;
  max-height: 50vh;
  top: 40px;
  right: 0.5%;
  z-index: 101;
  border-radius: 10px;
  padding: 12px;
  background-color: #000;
  border: 0.5px solid white;
  overflow-y: scroll;
}

#body .orderCart::-webkit-scrollbar {
  width: 0.35vw;
}

#body .orderCart::-webkit-scrollbar-thumb {
  background-color: #67cb18;
  background-clip: content-box;
  border-radius: 20px;
}

#body .orderCart::-webkit-scrollbar-track {
  background-color: #35353571;
  margin-block: 2rem;
  border-radius: 20px;
}

#body .order-button {
  background-color: #67cb18;
  color: white;
  border-radius: 8px;
  font-weight: 500;
}

#body .order-button:hover {
  background-color: #66cb18c0;
}

.meal-title-card {
  font-size: 0.75rem;
}

@media (min-width: 768px) {
  #body .orderCart {
    min-width: 30vw;
    max-height: 40vh;
  }
}

@media (min-width: 992px) {
  #body .orderCart {
    min-width: 20vw;
  }
}
