.myCart:hover {
  cursor: pointer;
}

.headerContainer {
  background-color: #000;
  z-index: 101;
  position: fixed;
  top: 0;
  color: white;
}

.headerContainer li:hover {
  color: #67cb18;
}

.customBadge {
  position: absolute;
  right: 0;
  top: 20%;
}

#body .bg-empty {
  background-color: white;
  color: black;
  transition: all 0.3s ease-out;
}

.bg-danger {
  transition: all 0.3s ease-in;
}

.logout,
.admin {
  padding: 8px;
}

.logout:hover,
.admin:hover {
  cursor: pointer;
}

header .navbar-nav {
  --bs-nav-link-color: white;
  --bs-nav-link-hover-color: #67cb18;
}

.dropdown-menu.show {
  --bs-dropdown-bg: #3b3b3b;
  padding: 0;
  border: 0.5px solid white;
}

.dropdown-menu.show li:first-child {
  border-bottom: 0.5px solid white;
}

.dropdown-menu.show li:hover {
  background-color: #8383836e;
}

.input-group .form-control:focus {
  border-color: transparent;
  box-shadow: 0 0 0 0.25rem hsla(94, 79%, 45%, 0.25);
}

#body .register-btn {
  background-color: #67cb18;
  color: white;
  font-weight: 500;
}

#body .register-btn:hover {
  background-color: #66cb18c0;
}

.headerContainer li {
  white-space: nowrap;
}
