#body .meal-cart-bg {
  background-color: #46434354;
  border-bottom-right-radius: var(--bs-card-border-radius);
  border-bottom-left-radius: var(--bs-card-border-radius);
}

#body .bg-meal-flag {
  background-color: #67cb18;
  color: white;
}

.meal-wrapper {
  width: 90%;
  margin-right: 0.5rem;
}

.card {
  --bs-card-border-width: 0.5px;
  --bs-card-border-color: white;
  --bs-card-border-radius: 24px;
  --bs-card-bg: transparent;
}

.border-green {
  border-color: #67cb18;
}

.card-img-top {
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}

.mealTitle {
  min-height: 70px;
}

.mealCardHeader {
  border-bottom: 1px solid white;
}

.quantity-preview-button {
  border: 1px solid #67cb18;
  align-self: center;
}

.quantity-preview-button:hover {
  border: 1px solid #67cb18;
}

.btnGreen {
  background-color: #67cb18;
  color: white;
  border-radius: 8px;
  padding: 10px 28px;
}

.btnGreen:hover {
  background-color: #66cb18c0;
}

.quantityBtn:hover {
  background-color: #67cb18;
  border-radius: 12px;
}

.discount {
  padding: 6px 12px;
  font-weight: 500;
  top: 83.5%;
  right: 0;
  background-color: red;
  text-align: end;
}

.discount-price {
  text-decoration: line-through;
  font-weight: 400;
  font-size: 1.25rem;
  text-align: end;
}

@media (min-width: 768px) {
  .meal-wrapper {
    width: 78%;
  }
}
