.accordion {
  --bs-accordion-bg: #b3b3b333;
  --bs-accordion-border-color: white;
}

.accordion-body {
  color: white;
  font-size: 0.875rem;
  padding: 8px 16px;
}

.accordion-button {
  color: white;
  font-size: 0.875rem;
  padding: 8px 16px;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-button:hover {
  color: #67cb18;
}

.accordion-button:not(.collapsed) {
  background-color: #b3b3b333;
  color: white;
}

.accordion-button::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='M2 5L8 11L14 5'/%3e%3c/svg%3e");
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='M2 5L8 11L14 5'/%3e%3c/svg%3e");
}

.form-check-input:focus {
  border-color: #67cb18;
  box-shadow: 0 0 0 0.25rem #66cb1833;
}

.form-check-input:checked {
  background-color: #67cb18;
  border-color: #67cb18;
}

.form-check:has(.form-range) {
  padding: 0;
}

.form-range::-webkit-slider-thumb {
  background-color: #67cb18;
}
