.carousel {
  width: 90%;
  margin: auto;
  margin-top: 2rem;
}

.carousel-control-prev,
.carousel-control-next {
  top: 40%;
  height: 50px;
  display: inline;
}

@media (min-width: 768px) {
  .carousel {
    width: 80%;
  }
}

@media (min-width: 992px) {
  .carousel {
    width: 60%;
  }
}

@media (min-width: 1200px) {
  .carousel {
    width: 40%;
  }
}
