#body {
  margin: 0;
  padding: 0;
  background-color: rgb(11, 12, 14);
  overflow-x: hidden;
  background-image: url("../public/images/body2.png");
  background-position: center right;
  background-repeat: no-repeat;
  background-size: cover;
}

.body-no-overflow {
  overflow-y: hidden;
}

#body::-webkit-scrollbar {
  width: 0.5vw;
}

#body::-webkit-scrollbar-thumb {
  background-color: #67cb18;
  background-clip: content-box;
  border-radius: 20px;
}

#body::-webkit-scrollbar-track {
  background-color: #35353571;
  margin-block: 0.5rem;
  border-radius: 20px;
}

.error-wrapper {
  display: flex;
  justify-content: center;
  background-color: #8b8585;
  width: 30%;
  height: 100%;
  margin: auto;
  margin-top: 5rem;
  border-radius: 10px;
  z-index: 1000000;
}

.error {
  text-align: center;
  color: rgb(209, 10, 10);
  margin-top: 1rem;
  font-weight: bold;
  font-size: 0.9rem;
}

.error-text {
  font-size: 0.75rem;
}

.error-modal {
  position: relative;
  background-color: #ffffff;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  padding: 10px;
}

.error-modal-close:hover {
  cursor: pointer;
  transform: scale(1.1);
}

#body .button-error {
  background-color: #375a3d;
}

.wrapper {
  margin-top: 70px;
}
