.adminCard {
  background-color: #4d4d4d94;
  border: 0.5px solid white;
  border-radius: 24px;
  padding: 50px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.adminCard:hover {
  cursor: pointer;
  transform: scale(1.02);
  background-color: #287c37;
}

.admin-form {
  margin-top: 110px;
  margin-bottom: 2rem;
  color: white;
  background-color: #46434354;
  border-radius: 24px;
  padding-inline: 20px;
  padding-block: 30px;
  width: 90%;
}

.admin-form .form-control:focus {
  border-color: transparent;
  box-shadow: 0 0 0 0.25rem #66cb1846;
}

.admin-form .form-select:focus {
  border-color: transparent;
  box-shadow: 0 0 0 0.25rem #66cb1846;
}

.form-check-input:focus {
  border-color: #67cb18;
  box-shadow: 0 0 0 0.25rem #66cb1833;
}

.form-check-input:checked {
  background-color: #67cb18;
  border-color: #67cb18;
}

.form-check-input:hover {
  cursor: pointer;
}

.button-pending {
  background-color: transparent;
  border: 1px solid white;
  color: white;
}

.button-admin {
  background-color: #67cb18;
  color: white;
  font-weight: 500;
}

.button-admin:hover {
  background-color: #66cb18c0;
}

.table {
  --bs-table-bg: #00000094;
  --bs-table-color: white;
  border-color: #b3b3b3;
}

.edit-button {
  background-color: #67cb18;
  color: white;
  font-weight: 500;
  padding: 10px 30px;
}

.edit-button:hover {
  background-color: #66cb18c0;
}

@media (min-width: 576px) {
  .admin-form {
    width: 75%;
  }

  .adminCard {
    padding: 70px;
    margin-top: 50%;
  }
}

@media (min-width: 992px) {
  .admin-form {
    width: 50%;
    padding-inline: 100px;
  }

  .adminCard {
    padding: 100px;
  }
}
